/Chatterin.WebService/.vs
/Chatterin.WebService/Chaterrin.DataAccess/bin
/Chatterin.WebService/Chaterrin.DataAccess/obj
/Chatterin.WebService/Chatterin.ClassLibrary/bin
/Chatterin.WebService/Chatterin.ClassLibrary/obj
/Chatterin.WebService/Chatterin.Services/bin
/Chatterin.WebService/Chatterin.Services/obj
/Chatterin.WebService/Chatterin.WebService/bin
/Chatterin.WebService/Chatterin.WebService/obj
/Chatterin.Db/.vs
/Chatterin.Db/Chatterin/obj
/Chatterin.Db/Chatterin/bin
